<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"  />
    <meta charset="UTF-8">
    <title>Advisers Page</title>
    <style>

        body{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            flex-direction: column;

        }

    </style>
</head>
<body>
<div class="main-div">
    <h2>Adviser List</h2>
    <button type="button" class="btn btn-success" onclick="location.href='/adviser/add';">Add</button>
    <button type="button" class="btn btn-info" onclick="location.href='/';" >Back</button>
    <br><br>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">NAME</th>
            <th scope="col">DEPARTMENT</th>
            <th scope="col">OPERATIONS</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="c:${advisers}">
            <td th:text="${c.id}"></td>
            <td th:text="${c.name}"></td>
            <td th:text="${c.department}"></td>
            <td>
                <a th:href="@{'/adviser/update/' + ${c.id}}" class="btn btn-warning"><i class="fa-solid fa-pen"></i> Update</a>
                <a th:param="${c.id}" th:onclick="javascript:Delete(this.getAttribute('param'))" class="btn btn-danger" style="color: white"><i class="fa-solid fa-trash"></i> Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
    function Delete(id) {
        let ret = confirm(id + " will be deleted!");
        if (ret == false) return;
        $.ajax({
            url: "/adviser/delete/"+id,
            type: "post",
            success: function (ret) {
                window.location.href ='/adviser';
            },
            error: function (error) {
                console.log("ERROR");
            }
        });

    }
</script>
