<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"  />
    <meta charset="UTF-8">
    <title>Update Adviser</title>
    <style>
        body{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            flex-direction: column;
        }
    </style>
</head>
<body>
<h2>Update Adviser</h2>
<form th:action="@{/adviser/update}" method="post">
    <input type="hidden" th:field="${adviser.id}" >
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input class="form-control" id="name" th:field="${adviser.name}" th:value="${adviser.name}">
        <span th:if="${#fields.hasErrors('adviser.name')}" th:errorclass="error" th:errors="*{adviser.name}"></span>
    </div>
    <div class="mb-3">
        <label for="department" class="form-label">Department</label>
        <input id="department" th:field="${adviser.department}" class="form-control" th:value="${adviser.department}">
        <span th:if="${#fields.hasErrors('adviser.department')}" th:errorclass="error" th:errors="*{adviser.department}"></span>
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
    <a href="/adviser" class="btn btn-info">Back</a>
</form>

</body>
</html>